body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 35px;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: white;
}

.list {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding-left: 0;
}
.list li a {
  text-decoration: none;
  color: black;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
}
